body {
    box-sizing: border-box;
    margin: 0;
}
.header {
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_titulo {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.header_titulo:hover {
    color: rgb(40, 43, 238);
}

.titulo_enlace {
    text-decoration: none;
}

.logo_andryus {
    height: 100%;
    width: auto;
    transition: all 0.5s ease;
}

.logo_andryus:hover {
    transform: scale(1.3);
}