<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Blog Personal</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="header">
            <img src="{% static 'image/andryusdev_logo2.png' %}" class="logo_andryus">
            <a href="{% url 'post-list' %}" class="titulo_enlace"><h1 class="header_titulo">BLOG PERSONAL</h1></a>
        </div>
        <a href="{% url 'post-new' %}">Nueva Publicacion</a>
        
        {% block content %}
        {% endblock %}
    </body>
</html>